:root{
    --color-btn-text: #24292e;
    --color-btn-bg: #fafbfc;
    --color-btn-bg-hover: #f3f4f6;
    --color-input-border: #e1e4e8;
    --color-alert-info-bg: #c8e1ff;
    --color-primary-bg:#2ea44f;
    --color-link: #0366d6;
}
